<div class="navbar-fixed">
 <nav>
   <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Farmers Friend<span id="brand-icon"><i class="fab fa-pagelines"></i></span></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li class="navLinks"><a href="/">Home</a></li>
            <li class="navLinks"><a href="/">E-sales</a></li>
            <li class="navLinks"><a href="/labourer">Labourer</a></li>
            <li class="navLinks"><a href="/technology">Technologies</a></li>
            <li class="navLinks"><a href="/crops">Crop</a></li>
            <li class="navLinks"><a href="/farmer">Farmer</a></li>
            <li class="navLinks"><a href="/warehouse">Warehouse</a></li>
            <li class="navLinks"><a href="/weather">weather</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="badges.html">E-sales</a></li>
    <li><a href="/labourer">Labourer</a></li>
    <li><a href="/technology">Technologies</a></li>
    <li><a href="/govpolicy">Government Policies</a></li>
    <li><a href="/farmer">Find Farmer</a></li>
  </ul>
 </nav>
</div>
