<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
  <style>
  .card-content{
    color:green;
  }
  </style>
<% include ../partials/navbar %>
<section class="slider">
    <ul class="slides">
      <li>
        <img src="images/bg6.jpg" alt="">
        <div class="caption right-align">
          <h2 class="big-heading text-lighten-4">Know your farmers well</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Find land owned by farmers and crops grown in it</h5>
          <a href="/farmer" class="btn waves-effect waves-green">View farmers</a>
        </div>
      </li>
			<li>
        <img src="images/bg2.png" alt="">
        <div class="caption center-align">
          <h2 class="big-heading text-lighten-4">Help Agricultural Labourers find job</h2>
          <h5 class="text-lighten-3 hide-on-small-only">Find District wise labourers based on skill set</h5>
          <a href="/labourer" class="purple btn btn-large">Find Labourers</a>
        </div>
      </li>
      <li>
        <img src="images/bg8.jpg">
        <div class="caption left-align">
          <h2 class="big-heading text-lighten-4">Dairy and Crop Market</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Sell whole sale dairy and other agricultural products</h5>
          <a href="#" class="purple btn btn-large">E sales</a>
        </div>
      </li>
    </ul>
</section>
<div class="parallax-container">
  <div class="parallax">
    <img class="parallax-image" src="images/bg5.jpg">
    <div class="centered">E X P L O R E</div>
  </div>
</div>
    <div class="carousel carousel-slider center">
      <div class="carousel-item" href="#two!">
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/w1.jpg">
                <span class="card-title">Weather</span>
              </div>
              <div class="card-content">
                <p>find region wise temperature , humidity and rain forecast</p>
              </div>
              <div class="card-action">
                <a href="/weather">Weather Forecast</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/labourer.jpg">
                <span class="card-title">Labourers</span>
              </div>
              <div class="card-content">
                <p>Find skilled and unskilled labourers from different localities</p>
              </div>
              <div class="card-action">
                <a href="/labourer">Find Labourers</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/seeds.jpg">
                <span class="card-title">Crops</span>
              </div>
              <div class="card-content">
                <p>Dont know which crop to sow? Get advice from Gini our machine learning model to predict best suited crop for a given piece of land based on soil and climate conditions</p>
              </div>
              <div class="card-action">
                <a href="/crops">View crop/seed options</a>
              </div>
            </div>
          </div>
        </div>
        <br/><br/>
      </div>
      <div class="carousel-item amber white-text" href="#two!">
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/farmer.jpg">
                <span class="card-title">Farmer</span>
              </div>
              <div class="card-content">
                <p>Get complete details of a farmer from which land he owns and which crop is grown by him/her in which land</p>
              </div>
              <div class="card-action">
                <a href="/farmer">Explore our farmersr</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/sensors.jpg">
                <span class="card-title">Technologies</span>
              </div>
              <div class="card-content">
                <p>Agriculture industry has improved tremondously with the innovation of IOT and sensors which makes farming easy</p>
              </div>
              <div class="card-action">
                <a href="/technology">AGRICULTURAL TECHNOLOGIES</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/warehouse.jpg">
                <span class="card-title">Warehouse</span>
              </div>
              <div class="card-content">
                <p>Storing agricultural produce in safe and clean environments is very important. Agricultural produce of farmers are stored in various warehouses based on locality</p>
              </div>
              <div class="card-action">
                <a href="/warehouse">Explore our warehouses</a>
              </div>
            </div>
          </div>
        </div>
        <br/><br/>
      </div>
      <div class="carousel-item" href="#two!">
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/w1.jpg">
                <span class="card-title">Farmer</span>
              </div>
              <div class="card-content">
                <p>Get complete details of a farmer from which land he owns and which crop is grown by him/her in which land</p>
              </div>
              <div class="card-action">
                <a href="/farmer">Explore our farmersr</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/labourer.jpg">
                <span class="card-title">Technologies</span>
              </div>
              <div class="card-content">
                <p>Agriculture industry has improved tremondously with the innovation of IOT and sensors which makes farming easy</p>
              </div>
              <div class="card-action">
                <a href="technology">AGRICULTURAL TECHNOLOGIES</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/seeds.jpg">
                <span class="card-title">Warehouse</span>
              </div>
              <div class="card-content">
                <p>Storing agricultural produce in safe and clean environments is very important. Agricultural produce of farmers are stored in various warehouses based on locality</p>
              </div>
              <div class="card-action">
                <a href="warehouse">Explore our warehouses</a>
              </div>
            </div>
          </div>
        </div>
        <br/><br/>
      </div>
      <div class="carousel-item" href="#two!">
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/w1.jpg">
                <span class="card-title">Weather</span>
              </div>
              <div class="card-content">
                <p>find region wise temperature , humidity and rain forecast</p>
              </div>
              <div class="card-action">
                <a href="#">Find Todays weather</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/labourer.jpg">
                <span class="card-title">Labourers</span>
              </div>
              <div class="card-content">
                <p>Find skilled and unskilled labourers from different localities</p>
              </div>
              <div class="card-action">
                <a href="#">Find Labourers</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/seeds.jpg">
                <span class="card-title">Crops</span>
              </div>
              <div class="card-content">
                <p>Dont know which crop to sow? Get advice from Gini our machine learning model to predict best suited crop for a given piece of land based on soil and climate conditions</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <br/><br/>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img class="parallax-image" src="images/bg5.jpg"></div>
    </div>
    <script>
      $(document).ready(function(){
         $('.sidenav').sidenav();
       });
      $(document).ready(function(){
        $('.parallax').parallax();
      });
      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        transition: 500,
        interval: 2000
      });
      const slider = document.querySelector(".slider");

      M.Slider.init(slider, {
        indicators: false,
        height: 500,
        transition: 500,
        interval: 3000
      });
    </script>

</body>
</html>
